.config-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 1824px;
   
    margin-bottom: 20px;
    
}
.Haver:hover {
    color: rgb(36, 106, 212);
}