.sidebar-container {
    height: 1080px;
    width: 96px;
    background-color: #E0E7EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}